html {

}

.input-label{
  padding-right: 5px;
}

.agreement-li{
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-left: 10px;
}

.li-and-icon{
  display: flex;
  flex-direction: row;
}

.top-bar{
  display: flex;
  align-items: center;
}

.window {
  border: 5px solid black;
  background: linear-gradient(to bottom right, #222222, black);
  color: white;
  width: 320px;
  height: 500px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.splash{
  border: 5px solid black;
  background-image: url("./images/gigsignsignsign.png");
  background-size: 100% 100%;
  width: 320px;
  height: 500px;
  border-radius: 20px;
}

.vertical-menu {
  width: 200px;
  height: 150px;
  overflow-y: auto;
}

.venue{
  background-color: lightgrey;
  padding: 10px;
  list-style: none;
}

.content-item {
  width: 300px;
  height: 300px;
  background-color: white;
}

.interface {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-around;
}

.interface-option {
  background-color: white;
  border-color: #444444;
  color: black;
  border-radius: 5px;
}

.interface-option:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.input_box {
  display: flex;
  justify-content: space-around;
}
